<div id="header">
    <h1>メモ一覧</h1>
<!-- end #header --></div>

<div id="mainContent">
  <ul>
  <% @task_boards.each do |task_board| %>
  <li class="task">
    <div class="t_icon">
        <!-- icon_p 人　icon_m　めも　icon_t　時計で差し替えが効きます -->
        <img src="<%= asset_path "icon_t.png" %>" />
    </div>
    <div class="f_parts"></div>
    <div class="f_body">
      <div class="f_text">
        <%= task_board.taskText %>
      </div>
      <div class="edit_del">
        <%= link_to '×', task_board, method: :delete, data: { confirm: '削除しますか?' } %>
      </div>
    </div>
  </li></br>
<% end %>
  </ul>
</div>

<div id="footer">
  <%= render 'form' %>
<!-- end #footer --></div>