<p id="notice"><%= notice %></p>

<p>
  <strong>Tasktext:</strong>
  <%= @task_board.taskText %>
</p>

<%= link_to 'Edit', edit_task_board_path(@task_board) %> |
<%= link_to 'Back', task_boards_path %>
