<div id="container">
	<div class="row">
		<h1 class="text-center">TasQuel</h1>
		<p class="text-center">Twitterアカウントでログイン</p>
		<p class="text-center">
		<%= link_to 'Log in', '/auth/twitter', {class:  "btn btn-primary btn-lg active"}%>
		</p>
	</div>
</div>
