/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background:#0A0B0C;
	margin: 0;
	text-align: center;
	color: #000000;
	background-image: url("logo_top.png");
	background-position: left top;
	background-repeat:no-repeat;
	/*余ったので使ってみる
	background-image: -webkit-gradient(
	  linear,
	  left top,
	  left bottom,
	  color-stop(0, #FCFCFC),
	  color-stop(1, #DADAE3)
	);
	background-image: -o-linear-gradient(bottom, #FCFCFC 0%, #DADAE3 100%);
	background-image: -moz-linear-gradient(bottom, #FCFCFC 0%, #DADAE3 100%);
	background-image: -webkit-linear-gradient(bottom, #FCFCFC 0%, #DADAE3 100%);
	background-image: -ms-linear-gradient(bottom, #FCFCFC 0%, #DADAE3 100%);
	background-image: linear-gradient(to bottom, #FCFCFC 0%, #DADAE3 100%);
	*/
}

/* centerArea */
.oneColLiqCtrHdr #container {
  background: #AAC7E0;
  width: 90%;
  max-width:1280px;
  margin: 0 auto;
  background-image: url("logo_mini.png");
  background-position: right bottom;
  background-repeat:no-repeat;
}

/* header */
	.oneColLiqCtrHdr #header {
		background:#252F3A;
		padding:0px;
		min-height:70px;
		color:#FFFFFF;
		padding:0 0 12px 0;
	}
	.oneColLiqCtrHdr #header #days{
		display:block;
		width:95%;
		text-align:left;
		padding:10px 0 0 0;
		margin:0px auto;
		font-size:16px;
	}
	
    /* maincontents */
	.oneColLiqCtrHdr #mainContent {
		padding:10px;
		min-height:764px;
		overflow:scroll;
	}