// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#containerBox{
  margin:0;
  background:center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image:image-url('login_bg.png');
  border:solid thin #aaaa8a;
  .container{
    margin-bottom:1000px;
  }
}
#inputArea{
    position:relative;
    margin:20% auto;
    width:80%;
    height:60%;
    h1{
      .tasu{
       top:-10px;
      }
    }
    #login_logo{
      position:absolute;
      width:100px;
      height:100px;
      top:-20px;
      left:-30px;
      z-index:2;
    }
    #loginBtn{
      color:#ffffff;
    }
    #quelText{
      padding:50px 50px 0 50px;
    }
    #data_inputArea{
      position:relative;
      width:100%;
      height:100%;
      background:no-repeat center center fixed;
      background-image:image-url('login_input.png');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      p{
        font-size:18px;
        line-height:25px;
        .tasu{
         top:-5px;
        }
      }
    }
    #characters{
      width:100%;
      padding:0 10px 0 30px;
    }
}