// Place all the styles related to the taskBoards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*　上部のメモに関する記述　*/
 .oneColLiqCtrHdr #header{
   #memoArea{
      position:relative;
      width:95%;
      min-height:50px;
      margin:0px auto;
      padding:0;
      font-size:24px;
      background-color:#FFFFFF;
      border:2px solid #CFDCDD;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      color:#333C4D;
      text-align: left;
      p{
        width:85%;
        position:absolute;
        top:0;
        left:10px;
        margin:10px;
        z-index:0;
        font-size:24px;
      }
      textarea{
        width:85%;
        position:absolute;
        top:0;
        left:10px;
        border:none;
        font-size:24px;
        color:#333C4D;
        height:45px;
        z-index:1;
        opacity:0;
      }
      input[type="submit"]{
        position:absolute;
        right:0;
        min-width:70px;
        height:40px;
        margin:5px 0px 5px 10px;
        padding:3px 5px;
        font-size:23px;
        line-height:35px;
        cursor:pointer;
        border: 1px solid #555555;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px; 
        z-index:2;
      }
   }
}

/* メインのエリア。時間の関係有る、無しのデータを含む */
.oneColLiqCtrHdr #mainContent{
   #memos_area{
     width:95%;
     padding:0;
     margin:0px auto;
   }
      
   /* 時間の関係あるフィールド */   
   #memo_time{
     float:left;
     min-width:530px;
     margin:0px;
     padding:5px;
     width:55%;
     .task .f_body{
        width:80%;
        margin:10px 0;
      }
   }
   
   /* 時間の関係しないフィールド */
   #memo_noTime{
    float:right;
    min-width:400px;
    width:40%;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border:2px solid #efefef;
    background:#eeeeee;
    
    #sortable{
      background:#f8f8f8;
      margin:10px auto 10px auto;
      width:95%;
      padding:0px;
      border-radius: 9px;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      border:2px solid #efefef;
      text-align:center;
    }
    p{
        font-size:26px;
        width:100%;
        padding:0px;
        margin:15px;
      }
    .task .f_body{ 
      width:70%;
    }
  }
   
   /*時間の有無の関係しない共通の指定*/
   .task {
     display:block;
     margin:0;
     padding:5px;
     float:none;
     clear:both;
     background:none;
     background-image:none;
     border:none;
     width:100%;
         .f_body{
            font-size:21px;
            position:relative;
            float:left;
            background:#FFFFFF;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            /*グラデーションにしたい時　下のコードをアクティブにする。矢印込みだとパーツ増やす必要あり。
            background-image: -webkit-gradient(
                  linear,
                  left top,
                  left bottom,
                  color-stop(0, #FCFCFC),
                  color-stop(1, #DADAE3)
                );
                background-image: -o-linear-gradient(bottom, #FCFCFC 0%, #DADAE3 100%);
                background-image: -moz-linear-gradient(bottom, #FCFCFC 0%, #DADAE3 100%);
                background-image: -webkit-linear-gradient(bottom, #FCFCFC 0%, #DADAE3 100%);
                background-image: -ms-linear-gradient(bottom, #FCFCFC 0%, #DADAE3 100%);
                background-image: linear-gradient(to bottom, #FCFCFC 0%, #DADAE3 100%);
            */
         }
         .t_icon{
            position:relative;
            height:80px;
            width:80px;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            float:left;
          }
         .f_parts{
            background-image:image-url("f_parts.png");
            width:14px;
            height:43px;
            margin:17px 0px 10px 10px;
            float:left;
          }
          .f_user{
            width:100%;
            position:solid;
            right:0px;
            bottom:0px;
            color:#ffffff;
            background:#000055;
            padding:5px 0;
            height:18px;
            font-size:18px;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
          }
          .f_text{
            float:left;
            width:85%;
            margin:0;
            min-height:30px;
            text-align:left; 
            padding:15px;
            font-size:24px;
          }
          .edit_del{
            position:absolute;
            right:5px;
            text-align:center;
            width:26px;
            height:22px;
            padding:10px;
            margin:10px;
            background:#68757C;
            color:#FFFFFF;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px; 
            
            a:link { color: #ffffff; }
            a:visited { color: #ffffff; }
            a:hover { color: #ffffff; }
            a:active { color: #ffffff; }
          }
    }   
}


    
/* footer */
#footer {
   background:#E8EDEF;
   padding:10px 20px;
   height:100px;
   color:#FFFFFF;
   text-align:center;
   overflow:hidden;
   .field{
     width:90%;
     margin:0px auto;
     color:#333333;
      font-size:30px;
     text-align:left;
     td{
       font-size:21px;
     }
     #task_board_taskTime{
       width:200px;
       height:40px;
       font-size:35px;
       text-align:left;
     }
     .t_memo{
       text-aline:right;
       width:75px;
     }
     .add_family{
       font-size:16px;
     }
     #task_board_taskText{
        margin-top:5px;
        width:95%;
        height:35px;
        font-size:35px;
     }
     select{
        height: 35px;
        width:120px;
        font-size: 100%;
        padding: 0px;
        border: 1px solid #B3B3B3;
        border-radius: 4px;
        text-indent: .01px;
        text-overflow: "";
     }
     input[type="submit"]{
        width:70px;
        height:40px;
        margin:5px 0px 5px 10px;
        padding:3px 5px;
        font-size:23px;
        line-height:35px;
        cursor:pointer;
        border: 1px solid #555555;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
      }
   }
}