// Place all the styles related to the taskBoards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .oneColLiqCtrHdr #mainContent #memos_area{
     width:95%;
     padding:0;
     margin:0px auto;
  }
  
/* 時間の関係あるフィールド */  
.oneColLiqCtrHdr #mainContent #sortable{
     float:left;
     min-width:530px;
  }
  .oneColLiqCtrHdr #mainContent .task {
    display:block;
    margin:0;
    padding:5px;
    float:none;
    clear:both;
    background:none;
    background-image:none;
    border:none;
  }
    .oneColLiqCtrHdr #mainContent .task .t_icon{
      position:relative;
      height:80px;
      width:80px;
      background:#FFFFFF;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      float:left;
    }
    .task .f_parts{
      background-image:image-url("f_parts.png");
      width:14px;
      height:43px;
      margin:17px 0px 10px 10px;
      float:left;
    }
    .task .f_body{
      position:relative;
      width:80%;
      margin:10px 0;
      float:left;
      background:#FFFFFF;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px; 
      /*グラデーションにしたい時　下のコードをアクティブにする。矢印込みだとパーツ増やす必要あり。
      background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #FCFCFC),
            color-stop(1, #DADAE3)
          );
          background-image: -o-linear-gradient(bottom, #FCFCFC 0%, #DADAE3 100%);
          background-image: -moz-linear-gradient(bottom, #FCFCFC 0%, #DADAE3 100%);
          background-image: -webkit-linear-gradient(bottom, #FCFCFC 0%, #DADAE3 100%);
          background-image: -ms-linear-gradient(bottom, #FCFCFC 0%, #DADAE3 100%);
          background-image: linear-gradient(to bottom, #FCFCFC 0%, #DADAE3 100%);
      */
    }
    .task .f_user{
      width:100%;
      position:solid;
      right:0px;
      bottom:0px;
      color:#ffffff;
      background:#000055;
      padding:5px 0;
      height:18px;
      font-size:18px;
    }
    .task .f_text{
      float:left;
      width:85%;
      margin:0;
      min-height:30px;
      text-align:left; 
      padding:15px;
      font-size:24px;
    }
   
    .task .edit_del{
      position:absolute;
      right:5px;
      text-align:center;
      width:26px;
      height:22px;
      padding:10px;
      margin:10px;
      background:#68757C;
      color:#FFFFFF;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px; 
    }
    .task .edit_del a:link { color: #ffffff; }
    .task .edit_del a:visited { color: #ffffff; }
    .task .edit_del a:hover { color: #ffffff; }
    .task .edit_del a:active { color: #ffffff; }


/* 時間の関係しないフィールド */
  .oneColLiqCtrHdr #mainContent #memo_noTime{
    float:right;
    min-width:400px;
    margin:20px auto 0px auto;
    padding:0px;
     background-color:#eeeeee;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border:2px solid #efefef;
    text-align:center;
  }
      .oneColLiqCtrHdr #mainContent #memo_noTime p{
          margin:15px;
          padding:0px;
          font-size:26px;
      }
      #memo_noTime .task .f_body{
        width:100%;
        margin:7px auto;
        min-height:30px;
        text-align:center;
        font-size:21px;
      }



/* footer */
#footer { 
  background:#E8EDEF;
  padding:10px 20px;
  height:100px;
  color:#FFFFFF;
  text-align:center;
} 
  #footer .field{
     width:90%;
     margin:0px auto;
     color:#333333;
   font-size:30px;
     text-align:left;
  }
  #footer .field td{
    font-size:21px;
  }
  .oneColLiqCtrHdr #footer .field #task_board_taskTime{
    width:200px;
    height:40px;
    font-size:35px;
    text-align:left;
  }
    #footer .field .t_memo{
      text-aline:right;
      width:75px;
    }
  #footer .field select{
    height: 35px;
    width:120px;
    font-size: 100%;
    padding: 0px;
    border: 1px solid #B3B3B3;
    border-radius: 4px;
    text-indent: .01px;
    text-overflow: "";
}
  .oneColLiqCtrHdr #footer .field #task_board_taskText{
    margin-top:5px;
    width:95%;
    height:35px;
    font-size:35px;
  }
  .oneColLiqCtrHdr #footer .field input[type="submit"]{
    width:70px;
    height:40px;
    margin:5px 0px 5px 10px;
    padding:3px 5px;
    font-size:23px;
    line-height:35px;
   cursor:pointer;
   border: 1px solid #555555;
    border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px; 
}